# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/

# Node
node_modules/
npm-debug.log*
yarn-error.log*

# React build
react-app/build/
react-app/dist/

# Env files
.env
.env.*

# Docker
*.log

# Optional
coverage/